@font-face {
    font-family: starWars;
    src: url("../img/SfDistantGalaxy-0l3d.ttf");
    
}


#app {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
}
.navbar{
  
 background-color: black;

}
.navbar-brand{
  color: yellow;
  font-size: 1.5rem;
  font-family: starWars;
  margin-left: 1.5rem;
}
a{
  text-decoration: none;
}

.dropdown{
  background-color: blue;
 
    background: transparent;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    border: none;
}
li{
  text-decoration: none;
}
.trash{
  background-color: transparent;
    border: none;
    margin-left: 10rem;
    height: fit-content;
    width: fit-content;
}
.main_dropdown{
  margin-right: 1.5rem;
}
.main_link{
    border:none;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

